body {
    background: url("https://cdn.pixabay.com/photo/2015/11/19/21/11/knowledge-1052014_1280.jpg");

    background-size: cover; 
}



.center-it {
    margin: 0 auto;
}

.size-it {
    width: 100px; 
}

